*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img{
    width: 100%;
    border-radius: 5px;
}

.hero-image{
    background-image: url("Website_images/Dk_black.png");
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 100px;
    width: 1800px
    
}

.hero-text{
    color: rgb(255, 255, 255);
    text-align: center;
    top: 180px;
    width: 100%;
    font-size: 4em;
}

.two-column{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    width: 80%;
    margin: auto;
    margin-top: 100px;
}

.info{
    font-size: 1.25em;
    color:  rgb(255, 255, 255);
}

.three-column{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 80%;
    gap: 100px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 50px;

}

.info-text{
    color:  rgb(255, 255, 255);
    text-align: center;
    top: 180px;
    width: 100%;
    font-size: 2em;
}

.card{
    background-color: rgb(255, 255, 255);
    transition-timing-function: ease-in-out;
    transition: .4s;
}

.card:hover{
    scale: 120%;
}

.card-text{
    text-align: center;
    color: rgb(0, 0, 0);
}